/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/genomeannotator -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // PASA cannot be testet without a complete genome
 
    assembly = 'https://raw.githubusercontent.com/nf-core/test-datasets/esga/contig.fa'
    proteins_targeted = 'https://raw.githubusercontent.com/nf-core/test-datasets/esga/proteins.fa'
    transcripts = 'https://raw.githubusercontent.com/nf-core/test-datasets/esga/transcripts.fa'
    rm_lib = 'https://raw.githubusercontent.com/nf-core/test-datasets/esga/repeats.celegans.fa'
    rnaseq_samples = 'https://raw.githubusercontent.com/nf-core/test-datasets/esga/samples.csv'
    aug_species = 'caenorhabditis'
    spaln_taxon = "NematodC"
    evm = true
    trinity = true
    busco_lineage = "nematoda_odb10"
}

