/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/esga -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data

    assembly = 'https://raw.githubusercontent.com/nf-core/test-datasets/esga/contig.fa'
    proteins_targeted = 'https://raw.githubusercontent.com/nf-core/test-datasets/esga/proteins.fa'
    transcripts = 'https://raw.githubusercontent.com//nf-core/test-datasets/esga/transcripts.fa'
    rm_lib = 'https://raw.githubusercontent.com/nf-core/test-datasets/esga/repeats.celegans.fa'
    rnaseq_samples = 'https://raw.githubusercontent.com/nf-core/test-datasets/esga/samples.csv'
    aug_species = 'caenorhabditis'
    spaln_taxon = "NematodC"

}

process {
   withName: 'BUSCO_DOWNLOADDB|HELPER_DOWNLOADRFAM' {
      executor = "local"
   }
}
